
* {
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    width: 1170px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    width: 142px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.header__logo_img {
    width: 35px;
    height: 40px;
}

.header__logo_txt{
    display: flex;
    height: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}

.header__logo_txt_grow{
    color: #000;
}

.header__logo_txt_be{
    color: #F25822;
}

nav{
    display: flex;
    width: 533px;
    height: 17px;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.nav__link:first-child{
    color: #F25822;
}


main{
    display: flex;
    width: 1170px;
    height: 536px;
    padding-top: 44px;
    margin-right: auto;
    margin-left: auto;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.main__seo {
    width: 522px;
    height: 380px;
    
}


.main__seo__h1{
    color: #000;
    height: 222px;
    font-size: 58px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.main__seo__p {
    color: #888;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    padding-top: 17px;
}

.main__seo__button{
    display: flex;
    width: 304px;
    height: 50px;
    padding-top: 37px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.main__seo__button__button{
    display: flex;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

.main__seo__button__text{
    display: flex;
    width: 92px;
    height: 19px;
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    flex-direction: row;
}

.main__img { 
    width: 544px;
    height: 374x;
    margin-left: 41px;

}

footer {
    display: flex;
    width: 1170px;
    height:243px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.footer__brand {
    width: 160px;
    height:50px;
}

