* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main__home {
  display: flex;
  padding-top: 40px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 84px;
}

.main__home_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-flow: row wrap;
}

.main__home_top_logo {
  display: flex;
  width: 137px;
  height: 40px;
  padding-right: 420px;
  justify-content: center;
  align-items: center;
  gap: 14.792px;
}

.main__home_top_logo_img {
  width: 35px;
  height: 40px;
  flex-shrink: 0;
}

.main__home_top_logo_txt {
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.main__home_top_logo_txt_grow {
  color: #000;
}

.main__home_top_logo_txt_be {
  color: #f25822;
}

.main__home_top_nav {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  flex-wrap: wrap;
}

.main__home_top_nav_link {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-flow: row nowrap;
}

.main__home_top_nav_link_a {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-flow: row nowrap;
}

.nav_link_a_red {
  color: #f25822;
}

.main__home_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-flow: row wrap;
}

.main__home_box_meta {
  display: flex;
  max-width: 556px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.main__home_box_meta_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.main__home_box_meta_title_h1 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 72px */
}

.main__home_box_meta_title_p {
  color: #888;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

.main__home_box_meta_button {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.main__home_box_meta_button_btn {
  display: flex;
  width: 140px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 56px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main__home_box_meta_button_txt {
  color: #aaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main__home_box_img {
  width: 545px;
  height: 375px;
  flex-shrink: 0;
}

.main__brand {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
}

.main__brand_link {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
}

.main__about {
  background-color: #fafafa;
  height: 540px;
  width: 100%;
}

.main__features {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  gap: 61px;
  background: #fff;
  flex-wrap: wrap;
}

.main__features_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.main__features_box_middle {
  padding: 40px 34px;
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.main__features_box_icon {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}

.main__features_box_txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.main__features_box_txt_h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__features_box_txt_p {
  width: 310px;
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.main__features_box_button {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}

.main__services {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  background: #fafafa;
}

.main__services_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.main__services_title_h2 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.main__services_title_p {
  max-width: 740px;
  color: #888;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.main__services_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}

.main__services_boxes_box {
  display: flex;
  max-width: 378px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  background: #fff;
}

.services_shadow {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.main__services_boxes_box_img {
  width: 378px;
  height: 284px;
}

.main__services_boxes_box_downbox {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: stretch;
  margin: 0px auto 34px auto;
}

.main__services_boxes_box_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.main__services_boxes_box_txt_p {
  color: #666;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
}

.services_button {
  width: 102px;
  height: 19px;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 56px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
